
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    

}
a {
    color: #262626;
    text-decoration: none ;
}

ul{
    
    list-style: none;
}


/* nav bar*/
.main-nav{
    display: flex;
    align-items: center;
    height:60px ;
    padding: 20px 0;
    font-size: 13px;
    justify-content: space-between;
}
.main-nav ul{
    display: flex;   
}

.main-nav ul.main-menu{
    flex: 1;
    margin-left: 20px  ;
}

.main-nav .logo{
    width: 85px; 
}

.main-nav ul li{
     /* iska matlab 0px top and bottom me aur 10px left and right me */
    padding: 0 10px;
   
}

.main-nav ul li a:hover{
    border-bottom: 2px solid #262626;
}

.main-nav ul li a{
    padding-bottom: 2px;
}
.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

.btn{
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: white;
    font-size: 15px;
}
 .btn:hover{
    opacity:0.9;
 } 
 .dark{
    color: #fff;
 }
 .dark .btn{
    background: #f4f4f4;
    color: #333;
 }
 

 /* home cards */


.header{
    
   height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(space.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}
.container{
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

 nav
{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}

.menu-btn{
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
    z-index: 2;
    display: none;
}

 .nav-links{
    flex: 1;
    text-align: right;

 }
 .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative; 
 }
 .nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
 }
 .nav-links ul li::after{
    content: '';
    width: 0px;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

    .nav-links ul li:hover::after{
        width: 100%;

    }
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size:40px;

}
.text-box p{
    font-size: 13px;
    color: #fff;
    
    padding-bottom: 25px;
}
   .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 27px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
   }       
   .hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 0.5s;
   }
     nav .fa{
        display: none;
        
     }

   @media(max-width: 700px){
    .text-box h1{
        font-size: 20px;

    }
    .nav-links ul li{
        display: block;

    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }

    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;

    }
    .nav-links ul{
        padding: 30px;
    }
    
   }
   /*-- course--*/
   .course{
    cursor: pointer;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
   }
   @media(max-width: 700px ){
    .course{
        padding: 0;
    }
   }
h1{
    font-size: 36px;
    font-weight: 600px;

}
p{ 
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;

}
 .course-col{ 
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

 }
 h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
 }
   .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

   }
   @media(max-width: 700px ){
    .row{
        flex-direction: column;
    }
   }
   /*----campus----*/
   .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;

   }
   .campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
   }
   .campus-col img{
    width: 100%;
    display: block;

    

   }
   .layer{
    background: transparent;
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: 0.5s;


   }
   .layer:hover{
    background: rgba(226,0,0,0.7);
   }
   .layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
   }
   .layer:hover h3{
    bottom: 49%;
    opacity: 1;
   }

   
/* -----testimonials ---*/
.testimonial{
    width: 100%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}
   
.testimonial-col{margin: 5px;
    flex-basis: 44%;
    border-radius: 15px;
    /* margin-bottom: 5%; */
    text-align: left;
    background: #fff3f3;
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.testimonial-col img{
    height: 70px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonial-col p{

    padding: 0;


}
.testimonial-col h3{
    margin-top: 15px;
    text-align: left;
}
@media(max-width:700px){
    .testimonial-col img{
        margin-left: 0px;
        margin-right: 15px;
    }
}
/* ---call to action0---*/
.cta{
    margin: auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(banner.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
@media(max-width:700px){
    .cta h1{
        font-size: 24px;

    }
   
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;


}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.header img{
    position: absolute; top: 10px; left: 10px;
}


 
@media(max-width:800px){
    .menu-btn{
        display: block;
    }
    .main-nav ul.right-menu {
        margin-right: 50px;

    }
    .menu-btn:hover{
        opacity: 0.5;
    }
    .main-nav ul.main-menu{
        z-index: 3;
        display: block;
        position: absolute;
        top: 0px;
        left: 0;
        background: #f2f2f2;
        width: 50%;
        height: 100%;
        transform: translateX(-20px);
        border-right: #ccc 1px solid;
        opacity: 0.9;
        padding: 30px;
        transform: translateX(-500px);   

    }
    .main-nav ul.main-menu.show{
        transform: translateX(-20px);

    }
    .main-nav ul.main-menu li{
        padding: 10px;
        font-size: 14px;
    }
    .main-nav ul.main-menu li:last-child{
        border-bottom: 0;
    }
    }
    @media(max-width: 700px ){
        .text-box h1{
            font-size: 33px;
        }
    }
    @media(max-width: 500px ){
        .text-box h1 {
            font-size: 27px;
        }
        .container{
            background-color: #eee;
        }
        .campus h1 {
            font-size: 21px;
        }
        .campus p {
            display: none;
        }
        .cta h1{
            font-size: 18px;
            margin-bottom: 27px;
        }
        .footer h4 {
            font-size: 28px;}

    }
