
    body {
        display: flex;
        height:-150vh;
       font-family:'Poppins', sans-serif;
        margin: 0px;
        padding: 0px;
        background: rgba(0, 162, 249, 0.71);
        justify-content: flex-end;
        align-items: flex-end;
    }

    section {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        position: absolute;
        width: 100%;
        height: 100%;

        background: rgba(0, 162, 249, 0);
        display: flex;
        flex-direction: column;
        
    }
    .column {
        overflow: hidden;
        opacity: 1;
         flex-direction: column;
         position :absolute;
         width: 100%;
         display: flex;
         padding: 10px 20px;
         white-space: nowrap;
         font-size:64px;
       
        
     }

     .row {
         
        flex-direction: column;
        position:relative;
        width: 100%;
        display: flex;
        padding: 10px 20px;
        white-space: nowrap;
        font-size:64px;
        opacity: 1;
        animation: animate 10s linear infinite;
        animation-delay: 0s;

    }

    i{
        
        flex-direction: column;
        color: rgba(10, 175, 240, 0.5);
        transition: 0.25s;
        padding: 0 2px;
        user-select: none;
        cursor: default;
        z-index: -1;
    }

    i:hover {
        color: rgb(233, 243, 233);
        text-shadow: 50px 150px 120px rgb(239, 247, 239);
        opacity: 1;

    }

    
   

    @keyframes animate {
        0% {
            transform: translateY(-180vh);

        }
        100% {
            transform: translateY(-150vh);

        }}

       
   
   
    @media screen and (max-width: 500px) {
        section .row {
        overflow:hidden;
    }
     section .column{
    
          overflow: visible;
          animation: animate2 10s linear infinite;
        animation-delay: 0s;
        }
       
        @keyframes animate2 {
        0% {
            transform: translateY(-150vh);

        }
        100% {
            transform: translateY(-150vh);

        }
        }
    
   
  
    }
    .header{
    
    
     background-position: center;
     z-index: 2;
     position: relative;
 }
   
 
  
     
 

 
 .topnav {

  z-index: 100;
 
  height:100px;
  background-color: #333;


}

.topnav a {
    z-index: 10;
  margin-top: 25px;
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
    z-index: 10;
  background-color: #ddd;
  color: black;
}




.topnav .icon {
    z-index: 10;
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    z-index: 10;
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    z-index: 100;
    position: absolute;
    right: 0;
    top: 0;
   
  }
  .topnav.responsive a {
    z-index:100 ;
    float: none;
    display:block;
    text-align: left;
  }
}
.heading {
        font-family: 'Poppins', sans-serif;
        font: 700 2em/1 "", sans-serif;
        color: #f5f5f5;
        z-index:1;
        
        text-align: center;
        text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
    1px 10px 6px rgba(16,16,16,0.4),
    1px 20px 10px rgba(16,16,16,0.2),
    1px 35px 35px rgba(16,16,16,0.2),
    1px 40px 80px rgba(16,16,16,0.4);
} 
    
    


    .container {
        margin: 10.33%;
        z-index: 2;
        
        color: rgb(0, 0, 0);
        display: grid;
        align-items: center;
        justify-content: center;
        grid-gap: 59px;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        grid-template-columns: repeat(1, 3fr);
       font-family:'Poppins', sans-serif;
        grid-auto-rows: minmax(200px, auto);
        grid-template-columns: repeat(auto-fill, minmax(150px, 3fr));

    }

    @media screen and (min-width: 1100px){
        .container{
            z-index: 1;
            margin-left:12.33%;
            margin-right:18.33%;
            margin-top:5.33%;
            grid-gap:200px ;
        }
        
        .content_sub1{
            width: 200px;
           z-index: 1;
        }
    }
    .subcontainer1 {
        border-radius: 20px;
        display: inline-flexbox;
        align-items: center;
        z-index: 2;
        width: auto;
        background-color:rgba(173, 225, 235, 0.3);
        height: 300px;
        overflow: hidden;
        overflow-y: scroll;
        justify-content: center;

    }
    .content_sub1{
       
      
       overflow: hidden;
        align-items: center;
        display:flex;
        justify-content: center;
        z-index: 2;
        color: rgb(23, 175, 216);
        
        font-size: 15px;
        padding: 20px;
        border:1px solid #91919196;
        border-radius: 20px;
    }
    .content_sub1:hover{
        background-color: rgb(41, 51, 54);
    }
    .content_sub2{
        
       
       overflow: hidden;
        align-items: center;
        display:flex;
        justify-content: center;
        z-index: 2;
        color: rgb(23, 175, 216);
        
        font-size: 15px;
        padding: 20px;
        border:1px solid #91919196;
        border-radius: 20px;
    }
    .content_sub2:hover{
        background-color: rgb(41, 51, 54);
    }
   
    .scroll-bg h1{
        
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .scroll-bg{
        width: 600px;
        z-index: 2;
        background: linear-gradient(45deg,rgba(173, 225, 235, 1),rgb(247, 239, 239),rgb(247, 239, 239),rgb(247, 239, 239),rgba(247, 239, 239),rgba(247, 239, 239),rgba(173, 225, 235, 1)) ;  
        width: auto;
        margin:14% auto;
        padding: 20px;  
        border-radius: 50px;
        height:fit-content
    }


    .scroll-bg:hover {
        
        box-shadow: 0px 0px 20px 0px rgb(32, 26, 26);

    }

   
   

    

   


    .scroll-bg:hover {
        
        box-shadow: 0px 0px 20px 0px rgb(32, 26, 26);

    }
    img{
        position:relative;
        float: left;
        padding-left: 40px;
        top: -33px;
    }
    footer{
        display: flex;
     
        opacity:0.5;
        margin-top: -180vh;
        z-index: 1;
        position:relative;
        width:100%;
        background:#e7eaf0;
        min-height: 100px;
        display:block;
        justify-content: center;
        align-items: center;
    }
    footer .social_icon{
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 10px 0;
     flex-wrap: wrap;
    }
    footer .social_icon li{
        list-style: none;

    } 
    footer .social_icon li a{
        opacity: 1;
        font-size: 2em;
        color:rgb(47, 67, 198);
        margin:0 10px;
        display: inline-block;
        transition: 0.5s;


    }
    footer .social_icon li a:hover{
       transform: translateY(-10px);
       }
    footer .right{
        display: flex;
        z-index: 10 ;
       }
 @media screen and (max-width: 900px) {
 
  footer {
    
    z-index: 10;
    position: relative;
    margin-top: -140vh;
  }
  
 }

 footer .right {
    z-index: 10;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
section .logo {
    display:inline-flex;
    padding-top: 7px;
  
    margin-top: 5px;
   

}
